---
import Layout from "../layouts/Layout.astro";
import Reviews from "../components/Reviews.astro";
import Hero from "../components/Hero.astro";
import Expertsection from "../components/Expertsection.astro";
import CaseSection from "../components/CaseSection.astro";
---

<Layout>
  <main>
    <Hero />
    <CaseSection />
    <Reviews />
    <Expertsection />
  </main>
</Layout>

<style>
  .main {
    position: relative;
  }
</style>
