---
import "../css/main.css";
import Layout from "../layouts/Layout.astro";
import Reviews from "../components/Reviews.astro";
import Header from "../components/Header.astro";
import CaseSection from "../components/CaseSection.astro";
---

<Layout>
  <Header />
  <main>
    <Reviews />
    <CaseSection />
  </main>
</Layout>

<style>
  .main {
    position: relative;
  }
</style>
