---
import "../css/main.css";
import Layout from "../layouts/Layout.astro";
import Reviews from "../components/Reviews.astro";
import Header from "../components/Header.astro";
import ButtonWhite from "../components/ButtonWhite.astro";
import ButtonGreen from "../components/ButtonGreen.astro";
import CaseSection from "../components/CaseSection.astro";

const data = await fetch("https://twfzmayntvnffeuqxncv.supabase.co/rest/v1/people", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3ZnptYXludHZuZmZldXF4bmN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMjc0MTMsImV4cCI6MjA3ODYwMzQxM30.I6Dor7rsziUJgcWk4QJQ1qDSfR9sQdh3pOAzuVDl0wM",
  },
}).then((res) => res.json());
---

<Layout>
  <Header />
  <main>
    <section class="reviews-section">
      {data.map((person) => <Reviews {person} />)}
    </section>
  </main>
  <CaseSection />
  <section class="reviews-section">
    {data.map((person) => <Reviews {person} />)}
  </section>
</Layout>

<style>
  .main {
    position: relative;
  }

  .reviews-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--accent-color);
    color: var(--primary-color);
    gap: 20px;
    padding: 20px;
    margin: 0;
  }
</style>
