---
import Layout from "../layouts/Layout.astro";
import Reviews from "../components/Reviews.astro";
import Hero from "../components/Hero.astro";
import Expertsection from "../components/Expertsection.astro";
import ListViewCaseSection from "../components/ListViewCaseSection.astro";
import FilterSection from "../components/FilterSection.astro";
---

<Layout>
  <main>
    <Hero />
    <FilterSection />
    <ListViewCaseSection />
    <Reviews />
    <Expertsection />
  </main>
</Layout>

<script>
  document.querySelectorAll(".b2b-buttons a").forEach((filterbtn) => filterbtn.addEventListener("click", filtrer));
  function filtrer(e) {
    document.querySelectorAll(".case-section article").forEach((elm) => elm.classList.remove("hide"));
    if (e.target.textContent == "B2B") {
      document.querySelectorAll(".passiv").forEach((elm) => elm.classList.add("hide"));
    }
    if (e.target.textContent == "B2C") {
      document.querySelectorAll(".aktiv").forEach((elm) => elm.classList.add("hide"));
    }
  }
</script>
