---
import Layout from "../layouts/Layout.astro";
import CompanyArticle from "../components/CompanyArticle.astro";
import ReviewSingleView from "../components/ReviewSingleView.astro";
import CaseSectionSingleView from "../components/CaseSectionSingleView.astro";
---

<Layout />
<main>
  <CompanyArticle />
  <ReviewSingleView />
  <CaseSectionSingleView />
</main>
