---
import FooterLinksDiv from "./FooterLinksDiv.astro";
import ButtonWhite from "./ButtonWhite.astro";
---

<footer>
  <div class="logo">
    <img src="src/assets/footerlogo.png" alt="" />
  </div>
  <FooterLinksDiv
    headline="Discover"
    firstLink="/listview"
    secondLink=""
    firstText="Cases"
    secondText="TÓKI flow"
  />
  <FooterLinksDiv
    headline="Learn more"
    firstLink=""
    secondLink=""
    firstText="Certifications"
    secondText="Careers"
  />
  <FooterLinksDiv
    headline="Who we are"
    firstLink=""
    secondLink=""
    firstText="About TÓKI"
    secondText="Contact"
  />
  <ButtonWhite />
  <ButtonWhite />
  <div class="footerflow">
    <img src="" alt="" />
  </div>
  <span>
    <p>© 2025 TÓKI I/S - VAT: 45988058</p>
  </span>
</footer>

<style></style>
