---
import "../css/main.css";
---

<section class="hero">
  <article class="hero-grid">
    <div class="text">
      <p class="hero-h1">Packaging.</p>
      <p class="hero-h2">The silent hero</p>
    </div>

    <div class="icons">
      <img src="/hero-icons.webp" alt="Packaging icon" />
      <img src="/hero-icons.webp" alt="Packaging icon" />
      <img src="/hero-icons.webp" alt="Packaging icon" />
    </div>
  </article>
</section>

<style>
  .hero {
    background-color: var(--secondary-color);
    padding: var(--main-margin);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;
  }
  .text {
    color: var(--dark-brown);
    margin-top: 75px;
    p {
      font-weight: var(--space-grotesk-light);
      font-size: var(--h1-font-size);
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icons img {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 1100px) {
    .hero-grid {
      grid-template-columns: 1fr;
      align-items: center;
      text-align: center;
      margin: auto;
      max-width: 500px;
    }

    .icons {
      gap: 3rem;
    }

    .icons img {
      width: 80px;
      height: 80px;
    }
    /* article {
      max-width: 500px;
    } */
  }
</style>
