---
import CaseImage from "./CaseImage.astro";
import ButtonWhite from "./ButtonWhite.astro";

const cases = await fetch("https://fhhfqfljilcjaaakodhw.supabase.co/rest/v1/cases?limit=6", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoaGZxZmxqaWxjamFhYWtvZGh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxMDIyOTQsImV4cCI6MjA3ODY3ODI5NH0.yiFB8pWzuK2dKtYF4gzKX4HzT_8VD5RLE9PYRH8a9SU",
  },
}).then((res) => res.json());

console.log(cases);
---

<h2>Explore our cases</h2>
<section class="case-section">
  {cases.map((costumercase) => <CaseImage {costumercase} />)}
</section>
<div class="more-button">
  <ButtonWhite CTAText="VIEW MORE" CTALink="" />
</div>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    align-items: center;
    margin: 45px 95px 45px 95px;
    gap: 45px;
  }
  .more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
  }
</style>
