---
import ReviewQuoteSingleView from "./ReviewQuoteSingleView.astro";

const review = await fetch("https://twfzmayntvnffeuqxncv.supabase.co/rest/v1/people", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3ZnptYXludHZuZmZldXF4bmN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMjc0MTMsImV4cCI6MjA3ODYwMzQxM30.I6Dor7rsziUJgcWk4QJQ1qDSfR9sQdh3pOAzuVDl0wM",
  },
}).then((res) => res.json());

console.log(review);
---

<section class="review-section">
  {review.map((customerreview) => <ReviewQuoteSingleView {customerreview} />)}
</section>

<style>
  .review-section {
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    color: var(--primary-color);
    gap: 20px;
    padding: 20px;
    margin: 0;
  }

  @media (max-width: 600px) {
    .review-section {
      flex-direction: column;
      gap: 0;
    }
  }
</style>
