---
import "../css/main.css";
import ButtonWhite from "./ButtonWhite.astro";
---

<section class="toki-flow">
  <div class="toki-flow-left">
    <h2>Discover the TÓKI flow</h2>
  </div>

  <div class="toki-flow-center">
    <picture>
      <source srcset="/toki-flow-mobile.png" media="(max-width: 650px)" />
      <img src="/toki-flow.webp" alt="TÓKI flow" />
    </picture>
  </div>

  <div class="toki-flow-right">
    <p>With TÓKI Flow, we create more than packaging — we build systems that work.</p>
    <p>Solutions that strengthen brands, optimize the value chain, and reduce carbon footprint.</p>
    <div class="flow-button">
      <ButtonWhite CTAText="HOW WE WORK" CTALink="/" />
    </div>
  </div>
</section>

<style>
  /* LEFT */
  .toki-flow-left h2 {
    text-align: left;
    margin-top: 2rem;
    padding-top: 5rem;
    font-weight: var(--space-grotesk-bold);
  }

  /* CENTER IMAGE */
  .toki-flow-center {
    display: flex;
    justify-content: center;
  }

  .toki-flow-center img {
    max-width: 100%;
    height: auto;
  }

  /* RIGHT */
  .toki-flow-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 380px;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 20px;
  }

  .toki-flow-right p {
    line-height: 1.6;
  }

  /* BUTTON */
  .flow-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: var(--section-gap);
  }
  .toki-flow {
    margin: var(--main-margin);
  }
  @media (max-width: 650px) {
    .toki-flow-left h2 {
      text-align: center;
    }
    picture {
      padding-top: var(--section-gap);
      padding-bottom: 10px;
    }
    .toki-flow-right {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 380px;
      margin: 0 auto; /* <-- THIS centers the whole block */
      margin-top: 2rem;
      align-items: center; /* optional: centers children horizontally */
    }
  }
</style>
