/* FONT FACE */
@font-face {
  font-family: SpaceGrotesk;
  src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
  font-weight: 300 700;
}

:root {
  font-family: "SpaceGrotesk";
  /* VARIABLES */
  /* font weight */
  --space-grotesk-bold: 700;
  --space-grotesk-semibold: 600;
  --space-grotesk-regular: 500;
  --space-grotesk-medium: 400;
  --space-grotesk-light: 300;

  /* text types */
  --h1-font: --space-grotesk-bold;
  --h2-font: --space-grotesk-bold;
  --h3-font: --space-grotesk-bold;
  --h4-font: --space-grotesk-bold;
  --p-font: --space-grotesk-regular;
  --p-bold-font: --space-grotesk-semibold;
  --quote-font: --space-grotesk-light;
  --quote-signature-font: --space-grotesk-medium;
  --footer-link-font: --space-grotesk-regular;
  --toki-address-font: --space-grotesk-regular;
  --cta-font: --space-grotesk-medium;
  --cta-click-font: --space-grotesk-bold;

  /* font size */
  --h1-font-size: 42px;
  --h2-font-size: 42px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --p-font-size: 16px;
  --p-bold-font-size: 14px;
  --quote-font-size: 16px;
  --quote-signature-font-size: 14px;
  --footer-link-font-size: 16px;
  --toki-address-font-size: 14px;
  --cta-font-size: 15px;

  /* colors */
  --primary-color: #f2f1ef;
  --secondary-color: #aebadb;
  --accent-color: #61745e;
  --p-brown: #40302f;
  --dark-brown: #191211;
  --cta-text-color: #40302f;
  --cta-hover-background: #e5e5e4;
  --green-cta-text-color: #eaeaea;
  --cta-hover-background-color: rgba(25, 18, 17, 0.5);

  /* margin */
  --main-margin: 95px;
  --narrow-margin: 50px;

  /* DEFINED FONTS */
  h1 {
    font-weight: var(--h1-font);
    font-size: var(--h1-font-size);
  }
  h2 {
    font-weight: var(--h2-font);
    font-size: var(--h2-font-size);
  }
  h3 {
    font-weight: var(--h3-font);
    font-size: var(--h3-font-size);
  }
  h4 {
    font-weight: var(--h4-font);
    font-size: var(--h4-font-size);
  }
  p {
    font-weight: var(--p-font);
    font-size: var(--p-font-size);
  }
  .p-bold {
    font-weight: var(--p-bold-font);
    font-size: var(--p-bold-font-size);
  }
  .quote {
    font-weight: var(--quote-font);
    font-size: var(--quote-font-size);
  }
  .quote-signature {
    font-weight: var(--quote-signature-font);
    font-size: var(--quote-signature-font-size);
  }
  .footer-link {
    font-weight: var(--footer-link-font);
    font-size: var(--footer-link-font-size);
    :hover {
      text-decoration: underline;
    }
  }
  .toki-address {
    font-weight: var(--toki-address-font);
    font-size: var(--toki-address-font-size);
  }
  .cta {
    font-weight: var(--cta-font);
    font-size: var(--cta-font-size);
    :active {
      font-weight: var(--cta-click-font);
    }
  }

  /* BACKGROUND COLOR AND MARGIN */
  body {
    background-color: var(--primary-color);
  }
  .hide {
    display: none;
  }
}
